<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Заявка на аренду</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

       <div class="container">
           <h1>Rental Request</h1>
           <form id="rental-request-form">
               <label for="name">Full Name:</label>
               <input type="text" id="name" name="name"><br><br>
               <label for="date-of-arrival">Date of Arrival:</label>
               <input type="date" id="date-of-arrival" name="date-of-arrival"><br><br>
               <label for="date-of-departure">Date of Departure:</label>
               <input type="date" id="date-of-departure" name="date-of-departure"><br><br>
               <label for="accommodation-type">Accommodation Type:</label>
               <select id="accommodation-type" name="accommodation-type">
                   <option value="apartment">Apartment</option>
                   <option value="house">House</option>
                   <option value="villa">Room</option>
                   <option value="flat">Flat</option>
               </select><br><br>
               <input type="submit" value="Submit Request">
               <input type="submit" value="Submit Отменить аренду">
               <input type="submit" value="Submit Подвердить аренду">
           </form>

       </div>

       <script src="/js/script.js"></script>

</body>
</html>
