<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявка на аренду</title>
</head>
<body>
       <div class="container">
            <div class="addrent">
                Квартира
            </div>
           <div class="title">
               О квартире
               <br>Количество комнат: 4
               Общая площадь: 190 м²
               Площадь кухни: 17 м²
               Жилая площадь: 95 м²
               Этаж: 11 из 13
               Балкон или лоджия: лоджия
               Тип комнат: изолированные, смежные
               Санузел: совмещенный, раздельный
               Ремонт: дизайнерский
               Техника: холодильник, плита, микроволновка
               Интернет и ТВ: Wi-Fi

               Условия аренды
               Залог: 1 месяц
               Комиссия: 0 %
               По счетчикам: оплачивается отдельно
               Другие ЖКУ: включено в платёж

               Правила
               Дополнительно:
               Можно с питомцами,
               Можно с детьми
               Можно с детьми: да
               Можно с животными: да

               Расположение
               Москва, ул. Малая Дмитровка, 24/2
               Маяковская6–10 мин.
               Чеховская6–10 мин.
               Пушкинская6–10 мин.<br>
           </div>
           <div class="цена">
              680 000Р месяц
           </div>

           <div class="addrent">
               квартире
           </div>
           <div class="title">
               О квартире
               <br>Количество комнат: 3
               Общая площадь: 67.4 м²
               Площадь кухни: 6.1 м²
               Жилая площадь: 40.7 м²
               Этаж: 3 из 17
               Дополнительно: гардеробная
               Тип комнат: изолированные
               Санузел: совмещенный
               Ремонт: дизайнерский
               Мебель: кухня, хранение одежды, спальные места
               Техника: кондиционер,
               холодильник, плита,
               микроволновка,
               стиральная машина,
               посудомоечная машина,
               телевизор
               Интернет и ТВ: Wi-Fi<br>

               Условия аренды
               <br>Залог: 1 месяц
               По счетчикам: оплачивается отдельно
               Другие ЖКУ: включено в платёж<br>

               Правила
               <br>Можно с детьми: да
               Можно с животными: да
               Можно курить: нет<br>

               Расположение
               <br>Москва, 1-я ул. Ямского Поля, 1к1
               Белорусскаядо 5 мин.
               Менделеевская16–20 мин.
               Новослободская16–20 мин.<br>
           </div>
           <div class="цена">
               330 000Р месяц
           </div>
           <div class="addrent">
               дом
           </div>
           <div class="title">
               О доме
               <br>Количество комнат: 3
               Площадь дома: 150 м²
               Площадь участка: 8 сот.
               Этажей в доме: 1
               Санузел: в доме
               Техника: кондиционер,
               холодильник, плита,
               микроволновка,
               стиральная машина,
               водонагреватель,
               телевизор,
               фен, утюг
               Интернет и ТВ: Wi-Fi
               Парковка: парковочное место
               Инфраструктура:
               магазин,
               аптека<br>

               Правила
               <br>Количество гостей: 11
               Можно с детьми: да
               Можно с животными: нет
               Можно курить: нет
               Разрешены вечеринки: да
               Есть отчётные документы: да<br>
               Расположение
               <br>Республика
               Крым,
               Судак, Персиковая ул., 5<br>
           </div>
           <div class="цена">
               4 000Р сутки
           </div>
           <div class="addrent">
               дом
           </div>
           <div class="title">
               О доме
               <br>Количество комнат: 10 и больше
               Площадь дома: 550 м²
               Площадь участка: 10 сот.
               Этажей в доме: 4 и больше
               Для отдыха: баня или сауна, бассейн
               Терраса или веранда: есть
               Санузел: в доме
               Коммуникации:
               электричество, газ, отопление, канализация
               Техника:
               холодильник,
               плита,
               микроволновка,
               стиральная машина,
               посудомоечная машина,
               водонагреватель,
               телевизор,
               фен,
               утюг
               Интернет и ТВ: Wi-Fi,
               телевидение<br>

               Парковка: <br>парковочное место
               Инфраструктура: магазин, аптека<br>
               Правила
               <br>Количество гостей: 25
               Можно с детьми: да
               Можно с животными: нет
               Можно курить: да
               Разрешены вечеринки: да
               Есть отчётные документы: да
               Расположение
               Республика Крым, Ялта, ул. Горького, 21<br>
           </div>
           <div class="цена">
              от 40 000Р за сутки
           </div>

           <div class="addrent">
               комнаты
           </div>
           <div class="title">
               О комнате
               <br>Площадь комнаты: 14 м²
               Расположение: Хостел
               Этаж: 4 из 4
               Расположение
               Москва, Малая Семёновская ул., 16
               Семёновская6–10 мин.
               Электрозаводская6–10 мин.
               Преображенская площадь16–20 мин.
               Описание
               Хостел в Москве рядом с метро.
               Сдается отдельная комната на 2 человека.
               Без комиссии и залогов напрямую от собственника.
               Просмотр в любое удобное для вас время.
               Заселение и оплата в день обращения.
               Евроремонт,
               новая мебель,
               холодильники,
               стиральные машины,
               телевизоры, Wi-Fi.
               Комнаты сдаются быстро, звоните! Будем рады ВАМ!<br>

               Удобства:
               <br>Количество спальных мест
               2 спальных места
               Количество кроватей
               1 кровать<br>
               Бытовая техника
               <br>Плита
               Микроволновка
               Холодильник
               Стиральная машина
               Утюг
               Комфорт
               Кондиционер
               Парковочное место
               Мультимедиа
               Wi-Fi
               Телевизор<br>
           </div>
           <div class="цена">
               19 600Р месяц
           </div>
           <div class="addrent">
               комнаты
           </div>
           <div class="title">
               О комнате
               <br>Площадь комнаты: 15 м²
               Комнат в квартире: 3
               Расположение: Квартира
               Этаж: 8 из 9
               Тип дома: Панельный
               Расположение
               <br>Москва, Дубнинская ул., 12А
               Верхние Лихоборы 11–15 мин.
               Селигерская16–20 мин.
               Яхромская21–30 мин.<br>
               Описание
               <br>Сдаю две смежные
               <br>комнаты 12 и 10 м2,
               в трёхкомнатной квартире.<br>
               <br>В квартире третьей комнате так же
               проживает хороший и добрый молодой человек.
               Новый ремонт и мебель.
               Оборудована квартира всей
               необходимой техникой.
               Звоните.<br>
           </div>
           <div class="цена">
               40 000Р в месяц
           </div>
           <br><button type="submit">Арендовать</button><br>
           <br><button type="submit">Потвердить аренду</button><br>
           <br><button type="submit">Забронировать </button><br>
           <br><button type="submit">Нельзя забронировать на эти дни </button><br>
           <br><button type="submit">Отменить бронирования</button><br>
       </div>

</body>
</html>