<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
      <h1>RUS</h1>
      <h2>Зарегистрировать свой обьект</h2>
      <h3>Зарегистрироваться</h3>
      <h4>Войти в аккаунт</h4>

      <p>Жильё</p>

      <p>Дом</p>

      <p>Квартиру</p>

      <div class="Gallery">
          <img src="/images/03-02-9817246_4.jpg" alt="">
          <img src="/images/026ad214d54537d6914780c18877cd65.jpeg" alt="">
          <img src="/images/1581543220_49-p-dizain-fasadov-zagorodnikh-domov-79.jpg" alt="">
          <img src="/images/1659503450_3-mykaleidoscope-ru-p-krasivie-zagorodnie-doma-i-kottedzhi-dizai-3.jpg " alt="">
          <img src="/images/b61a47747cebd3820300030174783917.jpeg" alt="">
      </div>



      <caption>${month}.${year}</caption>
       <table>
         <tr>
             <th>month</th>
             <th> September</th>
             <th> November</th>
             <th>October</th>
             <th>December</th>
             <th>January</th>
             <th>February</th>
             <th>March</th>
             <th>April</th>
             <th>May</th>
             <th>June</th>
             <th>July</th>
             <th>August</th>
         </tr>

           <tr>
               <th>Понедельник </th>
               <th>Вторник</th>
               <th>Среда</th>
               <th>Четверг</th>
               <th>Пятница</th>
               <th>Суббота</th>
               <th>Воскресенье</th>
           </tr>

       </table>

      <a href="/users/registraion user">
          <button type="submit">Создать пользователя</button>
      </a>
      <a href="/users/ application rent">
          <button type="submit">Создать аренду</button>
      </a>
</body>
</html>