<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Booking</title>
    <link rel="stylesheet" type="text/css"  href="/static/style.css">
</head>
<body>







      <div class="container">
<!--              <div class="photo">-->
<!--              </div>-->
              <div class="info">
                  <h2>House Profile</h2>
                  <p> Москва, ул. Малая Дмитровка, 24/2</p>
                  <p>Beds: 4</p>
                  <p>Baths: 1</p>
                  <p>Square Footage: 190 м²</p>
                  <p>Year Built: 2020</p>
                  <p>Price: $40 000</p>
              </div>

<!--                  <div class="photo">-->
<!--                  </div>-->
              <div class="info">
                  <h2>House Profile</h2>
                  <p>Москва, Дубнинская ул., 12А</p>
                  <p>Beds: 3</p>
                  <p>Baths: 1</p>
                  <p>Square Footage: 250 м²</p>
                  <p>Year Built: 2010</p>
                  <p>Price: $500 000</p>
              </div>
              <div class="photo">

              </div>
              <div class="info">
                  <h2>House Profile</h2>
                  <p>>Республика Крым, Судак, Персиковая ул., 5</p>
                  <p>Beds: 3</p>
                  <p>Baths: 3</p>
                  <p>Square Footage: 350 м²</p>
                  <p>Year Built: 2023</p>
                  <p>Price: $690,000</p>
              </div>
         </div>

      <a href="/Questionnaire">
          <button type="submit">Анкета</button>
      </a>
      <a href="/login">
          <button type="submit">Войти в аккаунт</button>
      </a>
      <a href="/To book">
          <button type="submit">Забронировать</button>
      </a>
      <a href="/registration">
          <button type="submit">Зарегистрироваться </button>
      </a>
      <a href="/Profile">
          <button type="submit"> Профиль</button>
      </a>
      <a href="/Application rent">
          <button type="submit">Заявка нв аренду</button>
      </a>

<script src="/js/script.js"></script>
</body>
</html>
