<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body>
        <div class="container">
            <div class="addUser">
                <form method="POST" action="/users">
                    <label for="name">Name</label>
                    <br><input type="text" name="name" id="name"><br>

                    <label for="surname">Surname</label>
                    <br><input type="text" name="surname" id="surname"><br>

                    <label for="patronymic">Patronymic</label>
                    <br><input type="text" name="patronymic" id="patronymic"><br>
                    <label for="city">City</label>
                    <br><input type="text" name="city" id="city"><br>
                    <label for="country">Country</label>
                    <br><input type="text" name="country" id="country"><br>
                    <label for="nick">Nick</label>
                    <br><input type="text" name="nick" id="nick"><br>
                    <label for="password">Password</label>
                    <br><input type="number" name="password" id="password"><br>
                    <label for="userdate">Userdate</label>
                    <br><input type="localdate" name="userdate" id="userdate"><br>
                    <label for="email">Email</label>
                    <br><input type="text" name="email" id="email"><br>
                        <button type="submit">Создать пользователя</button>
                </form>
            </div>
        </div>
</body>
</html>