<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
        <div class="container">
            <h1>Registration</h1>
                <form class="registration-form" method="post" action="/registration">
                    <label for="name">Name</label>
                    <br><input type="text" name="name" id="name"><br>

                    <label for="surname">Surname</label>
                    <br><input type="text" name="surname" id="surname"><br>

                    <label for="patronymic">Patronymic</label>
                    <br><input type="text" name="patronymic" id="patronymic"><br>
                    <label for="city">City</label>
                    <br><input type="text" name="city" id="city"><br>
                    <label for="country">Country</label>
                    <br><input type="text" name="country" id="country"><br>
                    <label for="nick">Nick</label>
                    <br><input type="text" name="nick" id="nick"><br>
                    <label for="password">Password</label>
                    <br><input type="text" name="password" id="password"><br>
                    <label for="Dataofbirth">Dataofbirth</label>
                    <br><input type="localDate" name="Dataofbirth" id="Dataofbirth"><br>
                    <label for="email">Email</label>
                    <br><input type="text" name="email" id="email"><br>
                        <button type="submit" value="Register" id="Register">Регистрироваться</button>

                </form>
        </div>

        <script src="/js/script.js"></script>
</body>
</html>
