<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body>
        <div class="container">
            <div class="addUser">
                <form method="POST" action="/users">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" id="surname">
                    <label for="patronymic">Patronymic</label>
                    <input type="text" name="patronymic" id="patronymic">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city">
                    <label for="country">Country</label>
                    <input type="text" name="country" id="country">
                    <label for="nick">Nick</label>
                    <input type="text" name="nick" id="nick">
                    <label for="password">Password</label>
                    <input type="number" name="password" id="password">
                    <label for="userdate">Userdate</label>
                    <input type="localdate" name="userdate" id="userdate">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                        <button type="submit">Создать пользователя</button>
                </form>
            </div>
        </div>
</body>
</html>